<section class="hero bg-overlay" id="hero" data-bg="<%= asset_path('octobot.png') %>">
  <%= render "overlay" %>
</section>

<section class="padding" id="features">
  <div class="container">
    <%= render "features" %>
  </div>
</section>

<section class="padding bg-grey" id="blog">
  <div class="container">
    <h2 class="section-title">Some news</h2>
    <div class="section-body">
      <div class="row col-spacing">
        <%= render partial: "article", collection: @articles %>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <%= render "subscribe" %>
    </div>
  </div>
</section>

<section class="bg-overlay padding" id="project" data-bg="<%= asset_path('octobot.png') %>">
  <div class="container">
    <%= render "roadmap" %>
  </div>
</section>

<section class="padding bg-grey" id="contact">
  <div class="container">
    <%= render "contact" %>
  </div>
</section>

<section class="callout">
  <div class="container">
    <%= render "callout" %>
  </div>
</section>